
/* Imports */
@import url("reset.css");
@import url("global-forms.css");

/***** Global *****/
/* Body */
	body {
   		color:#999999;
		background-color:#2A2A2A;
		font-size: 16px;
		font-family: Tahoma,'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		line-height: 1.429;
		margin: 0;
		padding: 0;
		text-align: left;
	}

/* Headings */
h2 {font-size: 2em;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 1.190em;}
h6 {font-size: 14px;}

h2, h3, h4, h5, h6 {
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: .8em;
  color:white;
}

h4, h5, h6 {
   color:#c4c4c4;
}	
/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #C74350;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}
	
/* Paragraphs */
p {margin-bottom: 15px;}
* p:last-child {margin-bottom: 0;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto;}
.container {clear: both; margin: 0 auto; width: 350px;padding:20px;}

/*
	HEADER
*****************/
header > hgroup {text-align:center;margin-bottom:30px;}

header > hgroup > h2 {
  padding:0px;
  margin:0px;

} hgroup > h5 {
  text-transform:uppercase;
  border-bottom:1px solid #404040;
  padding-bottom:5px;
  color: #acacac;

}
/*
	CONTENT
*****************/

section[class='contato'] span {
  background-repeat: no-repeat;
  padding-left: 25px;
}

.contato .email {background-image: url('../images/icon-email.gif');}
.contato .gtalk {background-image: url('../images/icon-gtalk.png');}
.contato .messenger {background-image: url('../images/icon-messenger.gif');}
.contato .skype {background-image: url('../images/icon-skype.png');}
.contato .phone {background-image: url('../images/icon-phone.png');}

/*
	FOOTER
*****************/
footer {margin-top:30px;text-align:center;}
address#social a {text-decoration:none;background:none;margin-left:10px;}
